@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@400;500;600;700;800&display=swap');

*{
    background-color: #C35C4C;
    margin: 0;
    font-family: 'Anek Telugu', sans-serif;
    text-decoration: none;
}

header{
    display: flex;
    width: 100vw;
    height: 15vh;
    background-color: #B82711;
    border-radius: 0px  0px  20px 20px;
}

h1{
    margin: auto;
    background-color: #B82711;
    font-size: 2rem;
    color: #000;
}


.back-to-menu{
    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thingToDo{
    margin-bottom: 2vh;
    font-weight: 800;
    font-size: 1.5rem;
}
.thingToDo p{
    font-weight: 400;
    font-size: 1.2rem;
}
iframe{
    margin-top: 3vh;
    width: 260px;
    height: 145px; 
}

@media screen and (min-width:900px) {
    main{
        margin-top: 5vh;
        flex-direction: row;
        justify-content: space-around;
    }
    iframe{
        width: 40vw;
        height: 50vh;
    }
    .thingToDo{
        font-weight: 800;
        font-size: 2 .5rem;
    }
    .thingToDo p{
        font-weight: 400;
        font-size: 1.5rem;
    }
    .toDo{
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        width: 40vw;
    }
}
